.contenedor-list{
   
    display:flex;

    justify-content: center;
    align-items: center;
    
    color: aliceblue;
}

.contenedor-list h2{
    display: inline-block;
    background-color: rgb(66, 66, 68);
    font-weight: 200;
    padding: 10px;
    line-height: 3em;

}